.item-h1 {
    font-family: 'Akbaal', sans-serif;
    font-size: 16px;                                    
}

.item-h2 {
    font-family: 'Akbaal', sans-serif;
    font-size: 14px; 
}

.item-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Settings Page */

.settings-h1 {
    font-size: 28px;
}

.settings-h2 {
    font-size: 22px;
}

.settings-p {
    font-size: 20px;
}

/* Groups Page */

.groups-h1 {
    font-size: 18px;
}

.texture-backer {
    background-image: url(ravenna.png);
}

.clear-background {
    background-color: unset;
}

.theme1-backer {
    background-color: var(--theme1);
}

.fancy-font {
    font-family: 'Akbaal', sans-serif;
}

.fg-3 {
    flex-grow: 3;
}
