.item-h1 {
    font-family: 'Akbaal', sans-serif;
    font-size: 16px;                                    
}

.item-h2 {
    font-family: 'Akbaal', sans-serif;
    font-size: 14px; 
}

.item-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}

.itemOwner-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Settings Page */

.settings-h1 {
    font-size: 28px;
}

.settings-h2 {
    font-size: 22px;
}

.settings-p {
    font-size: 20px;
}

/* Groups Page */

.groups-h1 {
    font-size: 18px;
}

.groups-overflow {
    overflow: hidden;
}

.groups-h2 {
    font-size: 24px;
}

.clear-background {
    background-color: unset;
}

.theme1-backer {
    background-color: var(--theme1);
}

.fancy-font {
    font-family: 'Akbaal', sans-serif;
}

.fg-3 {
    flex-grow: 3;
}

.space-between {
    justify-content: space-between;
}

.z-1051 {
    z-index: 1051;
}

.mh-36 {
    min-height: 36px;
}

.disabled-opacity-100:disabled {
    opacity: 100%;
}
