:root {
  --theme1: #4b4454;
  --support-theme-1: #52596f;
  --support-theme-2: #547088;
  --support-theme-3: #54889b;
  --theme2: #d8dcea;
  --danger-theme: #ce6060;
  --success-theme: #5cc251;
  background-color: var(--theme1);
}

body {
  margin: 0;
  background-color: unset;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  z-index: -2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(brick-texture.svg);
  background-size: 75px;
  opacity: 15%;
}

body::after {
  content: '';
  z-index: -3;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, var(--theme1), var(--support-theme-1), var(--support-theme-2))
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS to allow text-wrapping for <pre> tags */
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.top-layer {
  z-index: 1;
}

.text-light {
  color: var(--theme2);
}

.background-light {
  background-color: var(--theme2);
}

.text-dark {
  color: var(--theme1);
}

.background-dark {
  background-color: var(--theme1);
}

.background-unset {
  background-color: unset;
}

.background-test {
  background-color: blue;
}

.background-danger {
  background-color: var(--danger-theme);
}

.background-success {
  background-color: var(--success-theme);
}

.add-background-dark::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--theme1);
  opacity: 65%;
}

.add-background-light::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--theme2);
  opacity: 65%;
}

.loading-spinner {
  width: 100px;
  height: 100px;
}